<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ScreenPositionX" value="50" />
    <add key="ScreenPositionY" value="20" />
    <add key="Shotcut" value="LControlKey" />
    <add key="MsgFontSize" value="14" />
    <add key="MsgHeight" value="760" />
    <add key="MsgShowtime" value="20" />
  </appSettings>
</configuration>